.homepage{
  .nav a{
    color: $white;
  }

  .site-header{
    background-color: transparent;
  }
}

.hero{
  position: relative;
  text-align: center;
  z-index: 500;
}

.hero-text{
  margin: 0 auto 1rem;
  font-size: 2rem;
  color: $white;

  @media screen and (#{$bp-larger-than-tablet}){
    font-size: 2.5rem;
  }

  @media screen and (#{$bp-larger-than-desktop}){
    max-width: 80%;
    font-size: 3rem;
  }
}

.homepage-section{
  position: relative;
  overflow: hidden;

  h2{
    text-align: center;
  }
}
